@font-face {
  font-family: 'Igra Sans';
  src: local('Igra Sans'), local('IgraSans'), url('font/Igrasans.woff2') format('woff2'), url('font/Igrasans.woff') format('woff'), url('font/Igrasans.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #13171D;
  color: #FFFFFF;
  font-family: 'Igra Sans';
}